<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.OxincNotification" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="27" />
	<!--<supports-screens android:resizable="true" android:smallscreens="true" android:normalscreens="true" android:largescreens="true"/>-->
	<application android:label="OxincNotification.Android" android:icon="@drawable/login">
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
		<service android:name=".MyFirebaseMessagingService" android:stopWithTask="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permisson.WRITE_CALENDAR" />
	<uses-permission android:name="android.permisson.READ_CALENDAR" />
</manifest>